{% extends 'App_Admin/base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"><b>{{counts}}</b> Total Outlets</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<div class="container mt-5">
    <h3>All Outlets</h3>
    <div class="row">
        {% for outlet in all_outlets %}
        <div class="col-xl-3 col-md-4">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body"><b>{{outlet.name}}</b><br><b>{{outlet.cell}}</b></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{{outlet.map_link}}">View Map</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}